h1 {
  color: skyblue;
  background-color: mediumblue;
  border: 1px solid black;
}

.resultsPara {
  font: sans-serif;
  padding: 5px;
}

p {
  font: sans-serif;
  margin: 2px;
}

label {
  /* To make sure that all labels have the same size and are properly aligned*/
  display:inline-block;
  width: 90px;
  text-align:left;
}

input {
  font: 1em sans-serif;

  width: 300px;
  box-sizing: border-box;

  border: 1px solid #999;
}
